* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
   --branding-color: #ff7f50;
   --secondary-color: cornsilk;
   --highlight-color: #d2691e;
   --muted-color: #a9a9a9;
   --level-1: 1px;
   --level-2: 5px;
   --level-3: 10px;
   --level-4: 15px;
   --level-5: 20px;
   --Small: 12px;
   --Medium: 16px;
   --Large: 20px;
   --Extra-Large: 30px;
   --Double-Extra-Large: 50px;
   --Triple-Extra-Large: 100px;
}

.introduction{
  background-color: var(--secondary-color);
  padding: var(--level-5);
}

.introduction h1 {
  color: var(--branding-color);
  font-size: var(--Triple-Extra-Large);
}